.grid {
    display: grid;
    grid-template-columns:  minmax(auto, 150px) minmax(auto, 150px) 1fr 1fr 1fr 1fr;

    &__header {
        grid-column: 3 / -1;
        background-color: #39DBC9;
    }

    // START Sidebar
    &__sidebar {
        background-color: $background-color;
        grid-column: 1 / 3;
        grid-row-start: 1;
        grid-row-end: span 6; // Make this not care about the grid so we can use height 100vh
        height: 100vh;
    }

    &__sidebar-link {
        color: $secondary-color;
        display: grid;
        align-items: center;
        height: 40px;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.1em;
        transition: all 0.3s;
        text-align: center;
        text-transform: uppercase;
        font-family: $hind;

        &.router-link-active {
            color: $background-color;
            background-color: $primary-color;
        }
    }
    // END Sidebar

    // START Content

    &__content {
        grid-column: 3 / -1;
        grid-row-start: 2;
    }

    // END Content
}