.sidebar {
    &__profile {
        display: grid;
        justify-content: center;
        &--img {
            background-size: cover;
            background-position: center;
            border: 3px solid $primary-color;
            border-radius: 50%;
            justify-self: center;
            height: 130px;
            margin-top: 45px;
            width: 130px;
        }
    }

    &__profile-name {
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        font-family: $hind;
        margin-top: 23px;
        margin-bottom: 45px;
        text-align: center;
    }
}