// Fonts and colours go here
$yellowtail: 'Yellowtail', cursive;
$hind: 'Hind','Avenir', Helvetica, Arial, sans-serif;
// Primary color pallete
$primary-color: #B9F0F0;
$secondary-color: #75B9BE;
$background-color: #202E37;

//Secondary color
$alert-error: #FF5252;
$complete: #5890D1;
$pending: #F2B074;
$failed: #E07070;
