@import 'functions';
@import 'variables';
@import 'grid';
@import 'sidebar';
@import 'inputs';
@import 'loader';
@import 'content';

html, body
{
    margin: 0px; padding: 0px
}

#app {
    font-family: $hind;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-family: $yellowtail;
    font-size: 72px;
    font-weight: normal;
    text-shadow: 0px 1px 1px #305457;
    color: $primary-color;
    line-height: initial;
    text-align: center;
    // The font adds to much white space, this corrects it so it's centered properly >_>
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
}
